
.itemBase{
    display: flex;
    align-items: center;
    text-align: center;
    height: 40px;
    background-color: #3d85c6;
    color: #fafafa;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 4px 4px 6px black;
    position: relative;
    padding: 5px;
}

.itemTop{
    display: flex;
    align-items: center;
    text-align: center;
    height: 40px;
    color: #fafafa;
    position: absolute;
    z-index: 2;
}
å
.itemTitle{
    margin: 5px;
}

.statusIcon{
    margin-left: auto;
    padding-right: 10px;
}

.detailAdjust{
    z-index: 0;
    margin-top: -10px;
    padding-top: 5px;
}