
.mainContentsPresenter{
    display: flex;
    flex-direction: column;
    /*background-color: #07305f;*/
    /*background-size: cover;*/
    /*padding: 25px;*/
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.controlPanelContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: 75%;
}

.item{
    padding: 10px;
    min-width: 250px;
    max-width: 800px;
    width: 80%;
}

.addButton{
    position: fixed;
    right: 30px;
    bottom: 20px;
}
