
.itemTitle{
    background-color: transparent;
    border: none;
    border-radius: 5px 5px 5px 5px;
    color: #fafafa;
    font-size: 20px;
}

.itemTitle:focus{
    outline: #fafafa 1px solid;
}

.itemTitle::placeholder{
    color: #fafafa;
}