.header{
    grid-area: header;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 60px auto 50px;
    grid-template-areas: 
        "bulletIcon title userIcon"
    ;
    background-color: #134b83;
    padding: 5px;    
}

.settingsIcon{
    grid-area: bulletIcon;
    background-color: #134b83;
    color: #fafafa;
    stroke-width: 1;
    height: 50px;
    width: 50px;
}

.headerTitle{
    grid-area: title;
    background-color: #134b83;
    color: #fafafa;
    stroke-width: 0.5;
    font-size: 40px;
}

.userIcon{
    grid-area: userIcon;
    color: #fafafa;
    stroke-width: 1;
    height: 50px;
    width: 50px;
}