.header{
    /*background-color: #134b83;*/
    /*box-shadow: 0px 4px 12px black;*/
    /*background-color: #A0A0A0;*/
    backdrop-filter: blur(50px);
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 70px;
}

.settingsIcon{
    color: #fafafa;
    stroke-width: 1;
    height: 50px;
    width: 50px;
    padding: 10px;
}

.headerTitle{
    color: #fafafa;
    stroke-width: 0.5;
    font-size: 40px;
}

.userIcon{
    color: #fafafa;
    stroke-width: 1;
    height: 50px;
    width: 50px;
    padding: 10px;
}