
.settingsIcon{
    color: #fafafa;
    stroke-width: 1;
    height: 50px;
    width: 50px;
    padding: 10px;
}

.headerTitle{
    color: #fafafa;
    stroke-width: 0.5;
    font-size: 40px;
}

.userIcon{
    color: #fafafa;
    stroke-width: 1;
    height: 50px;
    width: 50px;
    padding: 10px;
}