
.status{
    color: #fafafa;
    height: 30px;
    width: 30px;
}

.addButton{
    color: #fafafa;
    height: 70px;
    width: 70px;
    opacity: 0.6;
}

.delButton{
    color: #fafafa;
    height: 50px;
    width: 50px;
}

.deviceID{
    background: #134b83;
    border: none;
    border-radius: 5px 5px 5px 5px;
    color: #fafafa;
}

.deviceID:focus{
    outline: #fafafa 1px solid;
}

.deviceID::placeholder{
    color: #fafafa;
}

.graph{
    padding-bottom: 50px;
}

.graphTitle{
    padding-top: 10px;
}